// COLORS
$color-bg: #272727;
$color-main: #DDD;
$color-grey: #EEEEEE;
$color-link: #6AF278;
$color-code: #111;

// FONT
$font-family-main: 'Cabin', sans-serif;
$font-family-code: 'Roboto Mono', monospace;

// BREAKPOINTS
$br: 600px;
